<header id="header">
    <nav id="nav">
            <a href="#cover">home</a>
            <a href="#services">services</a>
            <a href="#contact_form">contact</a>
            <a href="#about">about</a>
            <a href="./login.ejs">Admin Login</a>
    </nav>
    <a href="javascript:void(0);" class="mobileIcon" onclick="myFunction()">
      <i class="fa fa-bars"></i></a>
</header>